@import "../../Var.css";

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  background: linear-gradient(90deg,var( --color-secondary), var( --color-primary));
 
  border-radius: 1rem;
  padding: 3rem;
  margin: 5rem 7rem;
  z-index: 1;
  gap: 1rem;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}

.skills {
  width: 80%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    position: relative;
    transition: transform 400ms ease-in-out; */
}
.skillImageContainer:hover {
  transform: rotate(360deg);
  background-color: var(--color-primary);
  
}

.skillImageContainer img {
  width: 65%;
}

.skill p {
  font-size: 1.2rem;
  font-family: var(--font-roboto);
  font-weight: 500;
}

@media screen and (max-width: 830px) {
  .container {
    margin: .5rem;
    padding: 1rem;
  }
  .skills {
    width: 100%;
    flex-wrap: wrap;
  }
  .skillImageContainer {
    width: 6rem;
    height: 6rem;
  }
}
